body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.cell i{
    font-size: 18px;
}
#divide{
    color:black;
    font-size: 26px;
}
.container{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
#equal{
    background-color: #4285F4;
}
#text-area{
    height:98%;
    width:99%;
    border:none;
    font-size:24px;

}
.cell-1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.cell:hover{
    cursor:pointer;
    background-color:white;
}
.cell1{
    /* border:2px solid red; */
    border-radius: 9px;
    margin-left: 3px;
    height:40px;
    width:70%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #DADCE0;
    margin-top:4px

}
#cell1{
    border-radius: 9px;
    margin-left: 3px;
    margin-top:4px;
    height:40px;

}

.cell:nth-child(4){
    background-color: #DADCE0;
}
.cell1:hover{
    cursor:pointer
}
.cell{
    /* border:2px solid red; */
    height:50px;
    width:70%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color:#F8F9FA; */
    background: #f1f3f4;
}
.main1{
    display:flex;
    justify-content: center;
    height:19%;
    width:98%;
    /* border:2px solid black; */

}
.text{
    /* border:10px solid black; */
    height:88%;
    width:90%;
    border-radius: 5px ;
    border: 1px solid black;
    
}
.content{
    /* border:3px solid purple; */
    height:65%;
}
.main{
    height:340px;
    /* border:2px solid red; */
    width:31%; 
    border:2px solid black;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}